<app-layout>
  <div style="text-align:center">
    <h1>
      My Kanto Pokedex
    </h1>
  </div>
    
  <h1 *ngIf="!pokemonList">Retrieving Pokemon Data...</h1>

  <div>
    <div class="container content">
      <div class="row">
        <div class="col-md-2" *ngFor="let pokemon of pokemonList">
          <div class="card-deck">
            <div class="card text-center" style="width: 18rem;">
              <a [routerLink]="['/pokemon', pokemon.id]">
              <img class="card-img-top" src="{{pokemon.getImage()}}" alt="{{pokemon.capitalizeName()}}">
              <div class="card-body">
                <h6 class="card-text">#{{pokemon.id}} {{pokemon.capitalizeName()}}</h6>
              </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-layout>
