<app-layout [isFixedBottom]="true">
  <app-pokemon-loading [isLoading]='isLoading'></app-pokemon-loading>

  <span *ngIf="error">
    Loading failed
  </span>
  <div *ngIf="!isLoading && !error">
    <div class="container content ">
      <div class="row d-flex justify-content-center">
        <div class="col-md-6">
          <h1>#{{ pokemon.id }} {{ pokemon.capitalizeName() }}</h1>

          <div class="card flex-row flex-wrap w-100 text-center">
            <div class="card-body">
              
              <label class="checkbox-container">Favorite
                <input type="checkbox" (change)="onChange($event, pokemon)" [checked]="favoritePokemon.has(pokemon.id)" />
                <span class="checkmark {{pokemon.isChecked ? 'fa fa-star' : 'fa fa-star-o' }}"></span>
              </label>

              <img class="card-img-top" src="{{ pokemon.getImage() }}" alt="{{pokemon.capitalizeName()}}">
            </div>

            <div class="card-body bg-light">
              <h5 class="card-subtitle">Types:</h5>
              <div>
                <div class="type type-{{ type }} text-center" *ngFor="let type of pokemon.types">
                  {{ type }}
                </div>
              </div>
            </div>

            <div class="card-body bg-light">
              <h5 class="card-text">Stats:</h5>
              <ul class="list-unstyled">
                <li *ngFor="let stat of pokemon.stats">
                  {{ stat.name }}: {{ stat.value }}
                </li>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</app-layout>